*{
    Padding: 0;
    Margin: 0;
    box-sizing: border-box;
}

#wrapper{
    width: 1120px;
    margin: 0 auto;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    
}

header{
    height: 100px;
    background-color: bisque;

}

h1{
    line-height: 100px;
    margin-left: 20px;
    text-align: center;
}

h2{
    line-height: 50px;
    margin-left: 20px;
}

h3{
    line-height: 60px;
    margin-left: 20px;
}

.first{
    height: 50px;
    /* background-color: burlywood;    */
    border-top: 2px solid black;
    margin-bottom: 20px;
}
/* this .second div holds all the products and their descriptions */
.second{
    
}

.third{
    height: 250px;
    clear: both; 
    overflow: auto;   
}

.selection-box{
    height: 100px;
    width: 645px;
    float: left;
    margin-bottom: 10px; 
}

.prod_info{
    height: 60px;
    width: 530px;
    margin: 20px auto;
    /* background-color: salmon; */
    float: right;
}

button{
    width: 75px;
    height: 35px;
    margin-top: 30px;
    margin-left: 20px;
}

.item-box{
    width: 400px;
    height: auto;
    float: right;
    /* background-color:red; */
}

figure{
    margin: 20px auto;
    height: 392px;
    width: 360px;
}

#total{
    width: 600px;
    height: 200px;
    margin: 25px auto;
    background-color: snow;
    clear: both; 
    overflow: auto;

}

#price{
    margin: 20px 200px;
    line-height: 30px;
}

p{
    margin: 10px 200px;
}

.changeColorOne{
    width: 400px;
    height: auto;
    float: right;
    background-color: blueviolet;    
}
.changeColorTwo{
    width: 400px;
    height: auto;
    float: right;
    background-color: darkred;    
}
.changeColorThree{
    width: 400px;
    height: auto;
    float: right;
    background-color: forestgreen;   
}
.changeColorFour{
    width: 400px;
    height: auto;
    float: right;
    background-color: peru;   
}